.tweet-container {
	margin: 20px 0px;
	background-color: white;
	border-radius: 15px;
	border: solid #b9b7b7 1px;
  color: #b9b7b7;
  overflow: auto;
}

.tweet-container header {
	height: 85px;
  padding: 5px;
	background-color: #b7b7b74d;
}

.tweet-container header img {
	float: left;
	border-radius: 15px;
	margin: 5px 15px;
  height: 60px;
  width: 60px;
}

.tweet-container header h2{
	margin: 25px;
	font-size: 24px;
}

.tweet-container header .handle {
	float: right;
	margin: 25px;

}

.tweet-container article {
	background-color: white;
	height: 130px;
	padding: 20px;
  border-bottom: 0.5px gray solid;
}

.tweet-container footer {
	background-color: white;
	height: 15px;
	padding: 5px;
	margin-bottom: 15px;
  font-size: small;
  font-weight: lighter;
}

.tweet-container:hover {
  border: solid #244751 1px;
  color: inherit;
}

.tweet-container time {
	margin: 0px 15px 5px;
	padding:15px;
}
.iconDiv {
  float: right;
  margin-right: 15px;
}
